.register {
    padding: 40px 60px;
    &-block {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        width: 33.3%;
        &:nth-child(2) {
            width: 40%;
        }
        &:nth-child(3) {
            text-align: right;
        }
        &__title {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #0ABE3D; 
            margin: 0;
        }

        &__subtitle {
            text-align: center;
            font-size: 20px;
            line-height: 1.5;
            margin: 20px 0 25px;
        }

        &__group {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 430px;
            padding-bottom: 50px;
                input {
                    display: block;
                    background-color: #D9D4FF;
                    border: none;
                    height: 41px;
                    width: 310px;
                    outline: none;
                    margin-top: 5px;
                    padding-left: 20px;
                }
        }
        &__password {
            position: relative;
        }
        &__eye {
            display: block;
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;
        }

        &__list {
            font-size: 18px;
            margin-top: 5px;
        }

        &__btn {
            width: 155px;
            margin: 0 auto;
            padding: 13px;
            background-color: #0ABE3D;
            text-align: center;
            font-size: 18px;
            box-shadow: 9px 14px 19px 0px rgba(120,255,44,0.26);
            a {
                color: #fff;
                text-decoration: none;
            }
        }

        &__sign {
            text-align: center;
            font-size: 18px;
            margin-top: 49px;

            a {
                text-decoration: none;
                color: #0ABE3D;
                font-weight: bold;
            }
        }

    }
}