.director {
    &__subtitle {
        text-align: center;
        font-size: 22px;
        margin-bottom: 52px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 700px;
        @media (max-width: 769px) {
            margin-left: 18px;
        }
        @media (max-width: 568px) {
            margin-left: 0;
        }
    }

    &-item {
        margin: 17px 0;
        &__area {
            width: 700px;
            height: 227px;
            padding: 10px 26px 32px 18px;
            font-size: 16px;
            resize: none;
            outline: none;
            @media (max-width: 769px) {
                width: 100%;
            }
            @media (max-width: 568px) {
                margin-bottom: 5px;
            }

        }
        span {
            display: block;
            text-align: left;
            font-size: 18px;
            margin-bottom: 4px;
        }

        input {
            width: 100%;
            height: 41px;
            outline: none;
            font-size: 16px;
            padding-left: 18px;
            @media (max-width: 769px) {
                margin-top: 5px;
            }
            
        }
        &__img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width: 769px) {
                img{
                    width: 50%;
                    display: none;
                    &:first-child {
                        display: block;
                    }
                }
            }

            
        }
    }

    &-form {
        &__group {
            width: 700px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 769px) {
                width: 100%;
                flex-direction: column;
                :last-child {
                    margin-top: 11px;
                }
            }

            &--second {
                margin-top: 17px;
            }
        }

        &__item {
            input {
                display: flex;
                width: 330px;
                height: 41px;
                padding: 0;
                margin: 0;
                outline: none;
                font-size: 16px;
                padding-left: 18px;
            @media (max-width: 769px) {
                width: 100%;
            }
            }
            span {
                display: block;
                font-size: 18px;
                margin-bottom: 4px;
                @media (max-width: 769px) {
                    margin-top: 2px;
                    
                }
            }
        }
    }
    .director-item__img{
        z-index: -1;
    }
    .popup__item{
        margin-right: 25px;
        position: relative;
        .exit{
            width: 10px;
            height: 10px;
            position: absolute;
            right: 5px;
            top: 5px;
            background: red;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;
        }
        &:last-child{
            margin: 0;
        }
    }
    .file__img{
        height: auto;
        width: 150px;
    }
    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203px;
        height: 50px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 79px;
        background-color: #0ABE3D;
        box-shadow: 5px 5px 8px 5px #CEEDDC;
        color: #fff;
        font-size: 18px;

        text-decoration: none;
        text-align: center;

        @media (max-width: 769px) {
            margin-top: 25px;
            margin-bottom: 50px;
        }
    }

}
#uploadImages {
    margin-top: 15px;
    @media (max-width: 568px) {
        margin-top: 17px;
    }
}

#addImages {
    display: none;
}

.custom-file-container{
    padding-top: 30px;
}

.custom-file-container__image-labelClear{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.custom-file-container__image-preview{
    overflow: hidden;
    margin-bottom: 10px;
}

.custom-file-container__image-clear {
    color:#000;
}

.custom-file-container__custom-file__custom-file-control {
    margin-left: 0;
}
.custom-file-container__image-multi-preview__single-image-clear__icon {
    margin: 0;
}