.director {
    &__subtitle {
        text-align: center;
        font-size: 22px;
        margin-bottom: 52px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 700px;
       
    }

    &-item {
        margin: 17px 0;
        &__area {
            width: 700px;
            height: 227px;
            padding: 10px 26px 32px 18px;
            font-size: 16px;
            resize: none;
            outline: none;
            @media (max-width: 769px) {
                width: 100%;
            }

        }
        span {
            display: block;
            text-align: left;
            font-size: 18px;
            margin-bottom: 4px;
        }

        input {
            width: 100%;
            height: 41px;
            outline: none;
            font-size: 16px;
            padding-left: 18px;
            @media (max-width: 769px) {
                margin-top: 5px;
            }
            
        }
        &__img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 769px) {
                img{
                    width: 50%;
                    display: none;
                    &:first-child {
                        display: block;
                    }
                }
                // :nth-child(2) {
                //     display: none;
                // }
            }

            
        }
    }

    &-form {
        &__group {
            width: 700px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 769px) {
                // flex-wrap: wrap;
                width: 100%;
                flex-direction: column;
                :last-child {
                    margin-top: 10px;
                }
            }

            &--second {
                margin-top: 17px;
            }
        }

        &__item {
            input {
                display: flex;
                width: 330px;
                height: 41px;
                padding: 0;
                margin: 0;
                outline: none;
                font-size: 16px;
                padding-left: 18px;
            @media (max-width: 769px) {
                width: 100%;
            }
            }
            span {
                display: block;
                font-size: 18px;
                margin-bottom: 4px;
            }
           
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203px;
        height: 50px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 79px;
        background-color: #0ABE3D;
        box-shadow: 5px 5px 8px 5px #CEEDDC;
        color: #fff;
        font-size: 18px;

        text-decoration: none;
        text-align: center;

        @media (max-width: 769px) {
            margin-top: 25px;
            margin-bottom: 50px;
        }
    }

}