.manual {
    &__img {
        img {
            max-width: 100%;
            width: 351px;
            height: 400px;
            object-fit: center;
        @media (max-width: 568px) {
            width: 100%;
        }
        }
        @media (max-width: 769px) {
            margin: 0 auto;
        }
    }

    &-item {
        display: flex;
        padding: 54px 0 98px;
        &:first-child {
            padding: 0;
        }
        @media (max-width: 769px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        @media (max-width: 568px) {
            padding-bottom: 10px;
        }
    }
    &-content {
        margin-left: 50px;
        @media (max-width: 769px) {
            text-align: center;
            margin-left: 0;
            width: 100%;
        }

        &__name {
            font-size: 20px;
            font-weight: bold;
            color: #221F39;
            margin-bottom: 5px;
            // margin-top: 20px;

        }
        &__subtitle {
            font-size: 15px;
            font-weight: bold;
            color: #CBC8C8;
            margin: 0;
        }
        &__text {
            line-height: 1.5;
            font-size: 18px;
            margin: 12px 0 29px;
        }
        &__day {
            font-size: 20px;
        @media (max-width: 769px) {
            line-height: 1.5;
        }
            span {
                font-weight: bold;
                margin-right: 7px;
            }
        }
        &__social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            margin-top: 31px;
            width: 600px;
        @media (max-width: 769px) {
            flex-wrap: wrap;
            margin: 0 auto;
        }
        @media (max-width: 568px) {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-direction: column;
        }

            a{
                text-decoration: none;
                color: #221F39;
                margin-left: 15px;
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
        @media (max-width: 769px) {
            margin: 15px 0;
        }
            &--tg {
                a {
                color: #1D8EFF;
                }
            }
        }
    }
}