.product {
    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
        
        &__item {
            background-image: url(../img/product-img-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            width: 530px;
            margin-top: 41px;

            position: relative;
        }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        padding: 81px 0;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
}

