.header {
  
    height: 100vh;
    position: relative;
    overflow: hidden;


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        
        padding-top: 15px;
        padding:  0 40px;
    }
    &__content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
    }

    &__list  {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style-type: none;;
        &-item{
            margin: 0;
            padding: 0;
        }
        :nth-child(3) {
            margin: 0 33px;
        }
    }
    &__list--item {
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
    }
    &__menu {
        margin-left: 67px;
    }
    &__search {
        margin-right: 67px;
    }

    &-pagination {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__btn {
            border: 2px solid #fff;
            border-radius: 3px;
            background: rgba(0,0,0,.35);
            padding: 20px 28px;
        }
        &__pp {
            width: 176px;
            display: flex;
            justify-content: space-between;
        }
    }
    
    &__bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }
    &__block {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        padding-bottom: 215px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 100px;
        font-weight: bold;
        

        color: #fff;


        &--second {
            text-align: right;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 50px;


        a {
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 2px;
            padding: 17px 92px;
            font-size: 22px;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        padding: 0 40px 20px;
    }
    &__sos {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 10px;  
        font-size: 20px;

        background-color: #C12929; 
        color: #fff;
        text-decoration: none;
        img {
            padding-left: 10px;
        }
    }
    &__chat {
        background-color: #0ABE3D;
        font-size: 20px;
        padding: 15px 10px;
        text-decoration: none;
        color: #fff;
    }


}