.immovable {

    &-header {
    background-image: url(../img/immovable-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  

    &__title {
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        margin-top: 196px;
        margin-bottom: 0;
        }
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 73px 0 71px;
    }
    &-item {
        background-color: #EEF2F8;
        padding: 47px 28px 35px 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        &__title {
            color: #221F39;
            font-size: 20px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
        }
        &__text {
            line-height: 1.5    ;
            font-size: 18px;
        }
        &__btn {
            width: 203px;
            padding: 15px 0;
            margin: auto auto 0;
          
            
            background-color: #0ABE3D;
            a {
                color: #fff;
                text-decoration: none;
            }
            font-size: 18px;
            text-align: center;
            
        }
    }
}