.office { 
    position: relative;
    overflow: hidden;
    &__map {
        position: relative;
        iframe {
            width: 100%;
            height: 600px;
        }
    }
    &-branch {
        margin: 35px 0 55px;
    }
    &-block {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        &--item2 {
            &-item {
                width: 50%;
            }
        }
    }
    &-list {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &__title {
            font-size: 35px;
            color: #221F39;
            margin: 0;
            @media (max-width: 568px) {
                font-size: 30px;
            }
        }
    }
    &-item {
        width: 317px;
        margin-top: 43px;
        &__title {
            width: 396px;
            color: #221F39;
            font-size: 30px;
            font-family: "Roboto";
            font-weight: 600;
            @media (max-width: 568px) {
                font-size: 18px;
            }
            h4 {
                margin: 0;
                font-family: "Roboto" sans-serif;
            }
        }
        &__list {
            margin: 0 auto;
            padding: 0;
        }
        &__location {
            display: flex;
            align-items: center;
            margin: 27px 0 24px;
        }
        &__img {
            margin-right: 25px;
        }
        &__adress {
            font-size: 18px;
            color: #221F39;
            p {

                font-family: "Roboto" sans-serif;
            }
        }
        &__tel {
            text-decoration: none;
            color: #221F39;
            font-size: 18px;
            margin: 0;
        }
    }
    &-icon {
        margin-left: 15px;
    }
}
.names {
    display: block;
    height: min-content;
    cursor: pointer;
}


