.siema{
    &__background {
        width: 100%;
        height: 100vh;
    }
    
}
.swiper {
    &-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &-container2 {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    
    &-container3 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 50px;
    }
    
    &-wrapper {
        height: 100%;
        width: 100%;
    }
    
    &-slide {
        display: flex;
        color: #ccc;
        justify-content: center;
        
        position: relative;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        @media (max-width: 769px) {
            margin-left: 0;
        }
        @media (max-width: 568px) {
            font-size: 12px;
        }
    }

    &-button {
        &-prev {
            position: absolute;

            top: 91%;
            left: 45%;

            width: 73px;
            height: 73px;
            outline: none;

            color: #fff;
            border: 2px solid #fff;
            background: rgba(0,0,0,.35);
        }
        &-next {
            position: absolute;

            top: 91%;
            left: 50%;

            width: 73px;
            height: 73px;

            outline: none;

            background: rgba(0,0,0,.35);
            border: 2px solid #fff;
            color: #fff;
        }
    }
    &-img {
        img {
            width: 435px;
            height: 300px;
        }
        p {
            font-size: 15px;
        }
    }
}

.swiper-slide-active {
    color: #000;
}

.swiper-slide .swiper-slide-active {
    box-shadow: 5px 5px 5px 5px #ccc;
}











