.apartment {
    &-header {
            background-image: url(../img/apartment-header-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        &__title {
            text-align: center;
            font-size: 70px;
            color: #fff;
            margin-bottom: 15px;
            h2{
                margin-bottom: 0;
            }   
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                border: 1px solid #fff;
                padding: 17px 60px;
                color: #fff;
                font-size: 22px;
                background: rgba(0, 0, 0, .35);
            }
        }

    }
    &__subtitle {
        text-align: center;
        font-size: 22px;
        margin: 93px 0 83px;
    }
    &-block {
        background-color: #f5f5f5;
        &__item {
            display: flex;
            justify-content: center;
        }
        &__btn {
            background: none;
            text-decoration: none;
            border: 1px solid #000;
            color: #000;
            border-radius: 5px;
            transition: .5s all;
            text-align: center;
            width: 477px;
            box-shadow: none;
            &:first-child {
                margin-right: 32px;
            }
            &:hover {
                background-color: #0ABE3D;
                border: 1px solid transparent;
                color: #fff;
            }
        }
    }
    &-text {
        padding-bottom: 30px;
        padding-left: 35px;
        font-size: 18px;
        margin: 0;
    }
    
        &-content {
            margin: 0 34px;
            &__title {
                font-size: 20px;
                margin-top: 0;
            }
            p {
                font-size: 18px;
            }
    
        }
    
        &-download {
            text-align: center;
            padding: 50px 0 50px;
            &__btn {
                text-decoration: none;
                &--list {
                    background-color: #fff;
                    border: 1px solid #000;
                    color:#000;
                    margin-left: 30px;
                    padding: 15px 49px;
                    transition: .4s linear;
                    box-shadow: none;
                    &:hover {
                        background-color: #0ABE3D;
                        color: #fff;
                        border: 1px solid #fff;
                        box-shadow: 9px 14px 19px 0px rgba(120,255,44,0.26);
                    }
                }
            }
        }
}



    