.apartment {
    margin-top: 100px;
    &-header {
            background-image: url(../img/apartment-header-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
        &__title {
            text-align: center;
            font-size: 50px;
            color: #fff;
            margin:auto;
            @media (max-width: 769px) {
                font-size: 25px;
            }   
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            a {
                text-decoration: none;
                border: 1px solid #fff;
                padding: 17px 60px;
                color: #fff;
                font-size: 22px;
                background: rgba(0, 0, 0, .35);
            }
        }

    }
    &__subtitle {
        text-align: center;
        font-size: 22px;
        margin: 93px 0 83px;
        @media (max-width: 568px) {
            font-size: 18px;
        }
    }
    &-block {
        background-color: #f5f5f5;
        box-shadow: 4px 4px 10px 2px #E0E0E0;

        @media (max-width: 769px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
        &__item {
            display: flex;
            justify-content: center;
            @media (max-width: 769px) {
                flex-direction: column;
            }

        }
        &__btn {
            background: none;
            text-decoration: none;
            border: 1px solid #000;
            color: #000;
            border-radius: 5px;
            transition: .5s all;
            text-align: center;
            width: 431px;
            padding: 12px 23px;
            box-shadow: none;
            @media (max-width: 769px) {
                width: 100%;
                margin: 15px 0;
                font-size: 17px;
            }
            &:first-child {
                margin-right: 32px;
            }
            &:hover {
                background-color: #0ABE3D;
                border: 1px solid transparent;
                color: #fff;
            }
        }
    }
    &-text {
        display: none;
        padding-bottom: 30px;
        padding-left: 35px;
        font-size: 18px;
        margin: 0;
    }
    
        &-content {
            display: none;
            margin: 0 34px;
            @media (max-width: 769px) {
                width: 100%;
                margin: 15px 0;
            }
            &__text {
                margin-top: 25px;
                line-height: 2.5;
            }

            &__title {
                font-size: 20px;
                margin-top: 0;
                @media (max-width: 769px) {
                    margin-bottom: 10px;
                    text-align: center;
                }


            }
            p {
                font-size: 18px;
                @media (max-width: 769px) {
                    text-align: center;

                    line-height: 1.5;
                    font-size: 20px;

                }
            }
    
        }
    
        &-download {
            text-align: center;
            padding: 50px 0 50px;
            @media (max-width: 769px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                :last-child {
                    margin-top: 25px;
                }
            }
            &__btn {
                text-decoration: none;
                @media (max-width: 769px) {
                    margin: 0;
                }

                &--list {
                    background-color: #fff;
                    border: 1px solid #000;
                    color:#000;
                    margin-left: 30px;
                    padding: 15px 49px;
                    transition: .4s linear;
                    box-shadow: none;
                    &:hover {
                        background-color: #0ABE3D;
                        color: #fff;
                        border: 1px solid #fff;
                        box-shadow: 9px 14px 19px 0px rgba(120,255,44,0.26);
                    }
                }
            }
        }

        &-passport {
            margin-top: 37px;
            @media (max-width: 769px) {
                margin-top: 20px;
            }
        }
}


.active {
    display: block;
}

.apartment-content {
    display: none;
    &.active {
        display: block;
    }
}



