.form {
    width: 595px;
    height: 797px;
    background-color: red;
    &__block {

    }
    &__close {
        position: absolute;
        
    }
    &__title {
        padding: 31px 0;
        text-align: center;
        color: #0ABE3D;
        font-weight: 700;
        font-size: 30px;
    }
    &__subtitle {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
    }
    &__input {
       padding: 0 133px;
       &-title {
           font-size: 18px;
       }
       &-first {
           font-size: 18px;
           color:#0ABE3D;
       } 
       &-item {
           margin-top: 22px;
       }
    }
    &__btn {
        background-color: #0ABE3D;
        outline: none;
        border: none;
        color: #fff;
        padding: 15px 51px;
        display: block;
        margin: 0 auto;
        margin-top: 49px;
    }
    input {
        height: 41px;
        width: 330px;
        outline: none;
        &:focus {
            border: transparent;
        }
        
    }
    p {
        font-size: 16px;
    }
    a {
        text-decoration: none;
        color: #0ABE3D ;
        font-weight: bold;
    }
  
}