.cabinet {
    &__title  {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    &-list {
        padding: 0;
        &:last-of-type {
            margin-bottom: 25px;
        }
    }

    &-item {
        
        &__list {
            width: 220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            
           
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 182px;
            height: 50px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            font-size: 18px;
            border: 1px solid #000;
            transition: .3s linear;
            &:hover {
                background-color: #0ABE3D;
                color: #fff;
                border: 1px solid #fff;
                box-shadow: 14px 18px 12px 8px #CEEDDC;
            }
        }
        &__btn {
          margin-bottom: 25px;
        }
    }
    &-form {
        background-color: #e6e6e6;
        width: 812px;
        border-radius: 5px;
        &__title {
            text-align: center;
        }
        
    }
}