.cabinet {
    &__title  {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 34px 0 40px;
        @media (max-width: 769px) {
            font-size: 20px;
        }
    }
    &-block {
        max-width: 1340px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 29px;
        @media (max-width: 769px) {
                display: block;
            }
    }
    &-list {
        padding: 0;
        &:last-of-type {
            margin-bottom: 25px;
        }
    }

    &-item {
        &__list {
            width: 220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            &:nth-child(2) {
                margin: 20px 0;
                }
            a {
                text-decoration: none;
                color: #000;
            }
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
            &.active {
                img{
                    display: block;
                }
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 182px;
            height: 50px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            font-size: 18px;
            border: 1px solid #000;
            transition: .3s linear;
            &:hover {
                background-color: #0ABE3D;
                color: #fff;
                border: 1px solid #fff;
                box-shadow: 5px 5px 8px 5px #CEEDDC;
            }
                    @media (max-width: 769px) { 
                       width: 100%;
                    }
        }
        &__btn {
        margin-bottom: 25px;
        }
    }


    &-sidebar {
        margin-left: 30px;
        @media (max-width: 769px) { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }
    }

    &-form {
        max-width: 812px;
        padding: 23px 55px 40px;
        margin-left: 61px;
        margin-bottom: 37px;

        background-color: #F7F9FC;
        border-radius: 4px;
        box-shadow: 5px 7px 10px -9px rgba(0,0,0,0.59);
        @media (max-width: 769px) { 
            width: 100%;
            padding: 25px 0;
            margin-left: 0;
        }

        &__label {
            margin-top: 15px;
        }


        &__title {
            font-size: 22px;
            font-weight: 400;
            color: #221F39;
            @media (max-width: 769px) { 
                font-size: 18px;
            }
        }

        &__text {
            display: block;
        }

        &__group {
            display: flex;
            justify-content: space-between;
            @media (max-width: 769px) { 
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &:last-child {
                margin-top: 15px;
            }
        }

        &__text {
            margin: 0 0 5px 5px;
            color: #221F39;
            font-size: 18px;
        }

        &__top-input {
            width: 239px;
            font-size: 16px;
        }

        &__medium-input {
            width: 330px;
            font-size: 16px;
            @media (max-width: 769px) { 
                width: 100%;
            }
        }

        &__full-input {
            width: 702px;
            font-size: 16px;
            @media (max-width: 769px) { 
                width: 100%;
            }

        }

        &__bottom-input {
            width: 210px;
            font-size: 16px;
            @media (max-width: 769px) { 
                width: 100%;
            }
        }
        &__group--middle {
            margin: 20px 0;
        }

        &__btn {
            width: 155px;

            margin: 0 auto;
            margin-top: 40px;
            padding: 17px 37px;

            background-color: #0ABE3D;
            box-shadow: 5px 5px 8px 5px #CEEDDC;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #fff;   
            }
        }


    }

    &-group {
        &__item:last-child {
            width: 516px;
        }

        &__item-medium {
            width: 702px;
        }

        &__title {
            margin-top: 50px;
            margin-bottom: 10px;

            font-size: 20px;
            color: #221F39;
        }

        &__block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 769px) {
                display: flex;
                flex-direction: column;
                align-items:   center;
                width: 100%;
                justify-content: center;
            }

        }

        &__id {
            text-align: right;
        }

        &__add {
            display: block;
            margin-top: 11px;
            color: #221F39;
        }
    }

}

// table

.content__title {
    margin-top: 5px;
}
.table {
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    margin-top: 35px;

    th {
        padding: 20px 0 23px;
        a {
            color: #0ABE3D;
        }
    }
    &-info {
        border-bottom: 1px solid #707070;
        color: #707070;
        &:last-child {
            border-bottom: none;
        }
    }
    &-red {
        color: #C12929;
    }
}
.content-table  {
    margin-top: 10px;
    margin-left: 100px;
    display: none;
    @media (max-width: 769px) {
        overflow-x: scroll;
        margin-left: 0;
    }
    &.active {
        display: block;
    }
}
.cabinet-form  {
    display: none;
    &.active {
        display: block;
    }
}


