.news {
    position: relative;
    overflow: hidden;
    &__content {
        font-size: 21px;
        line-height: 1.5;
        padding-top: 81px;
        @media (max-width: 769px) {
            text-align: center;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 65px;
        :hover {
            background-color:#0ABE3D;
            border: solid 1px transfarom #fff;
            color: #fff;
        }
        @media (max-width: 598px) {
            flex-direction: column;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        border: solid 1px #000;
        padding: 15px 24px;
        font-size: 18px;
        transition:  0.3s;
        @media (max-width: 769px) {
            padding: 10px 20px;
            font-size: 16px;
        }
        img {
            margin-right: 20px;
        }
    }
    &-download {
        margin-left: 25px;
        @media (max-width: 598px) {
            margin-top: 40px;
        }
        &__btn {
            text-decoration: none;
            padding: 17px 23px;
        }
    }
}