.calculator {
    &-block {
        background-image: url(../img/cal-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 701px;
        height: 364px;
        margin: 41px 0 30px;
        @media (max-width: 769px) {
            width: 100%;
        }
    }

    &-step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 122px;
        @media (max-width: 769px) {
            width: 100%;
            height: 100px;
        }
        img {
        @media (max-width: 769px) {
            width: 88%;
        }
        }

        &__text {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 600px;
            padding-top: 16px;
            @media (max-width: 769px) {
                width: 100%;
                font-size: 13px;
                text-align: center;
            }

        }
    }

    &-item {
        &__title {
            color: #fff;
            text-align: center;
            font-size: 35px;
            padding-top: 28px;
            padding-bottom: 11px;
            @media (max-width: 769px) {
                font-size: 25px;
            }

        }

        &__subtitle {
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            margin-top: 41px;
            margin-left: 42px;
            @media (max-width: 769px) {
                margin-left: 0;
                text-align: center;
            }


        }

        &__text {
            color: #fff;
            font-size: 18px;
            margin-left: 42px;
            margin-top: 5px;
        @media (max-width: 769px) {
            margin-left: 0;
            text-align: center;
            margin-top: 10px;
        }

            span {
                color: #0ABE3D;
            }
        }

        &__step {
            background-color: rgba(255, 255, 255, .90%);
            width: 657px;
            height: 122px;
            border-radius: 15px;
            margin: 0 auto;
            @media (max-width: 769px) {
                width: 92%;
                height: 100px;
            }

        }
    }

    &-policy {
        display: flex;
    }

    &-list {
        display: flex;
    }
}







