.decor {
    position: relative;
    overflow: visible;
    @media (max-width: 769px) {
        display: block;
        margin-bottom: 50px;
    }
    display: flex;
    &-calculator {
        max-width: 701px;
        flex: 2;
        margin-bottom: 95px;
    }

    &-aside {
        background-color: #e6e6e6;
        width: 330px;
        height: 683px;
        margin-top: 41px;
        color: #221F39;
        border-radius: 8px;
        margin-left: 30px;
        flex: 1;
        @media (max-width: 769px) {
            width: 100%;
            margin-left: 0;
            padding-top: 25px;
        }

        &__title {
            margin-top: 29px;
            font-size: 30px;
            text-align: center;
            @media (max-width: 769px) {
                font-size: 25px;
                margin-top: 19px;
            }

        }
        &__block {
            font-size: 18px;
            padding: 0 42px;
            list-style: none;
        }
        &__list {
            width: 236px;
            margin: 0 auto;
            margin-bottom: 20px;
            span {
                font-weight: bold;
                display: block;
                margin-top: 10px;
            }
        }
        &__line {
            border: 1px solid #C6C2C2; 
            width: 197px;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &__price {
            text-align: center;
            font-weight: bold;
            font-size: 35px;
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 9px;    
            margin-bottom: 28px;
            text-decoration: none;
            width: 203px;
            @media (max-width: 769px) {
                margin-bottom: 0;
            }
        }
    }
    .file__img{
        height: 130px;
        width: 127px;
        margin-left: 7px;
    }
    .dec {
        width: 560px;
    }
}

input[type="checkbox"]:checked + label:before {
    border: 1px solid  #80F1B1;
    background: #80F1B1;

    color: white;
    content: "\2713";
    text-align: center;
}

input[type="checkbox"] {
    visibility: hidden;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid  #000;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    padding: 0;
    vertical-align: top;
    width: 16px;
}

input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

// decor-2 drop

.form-drop2 {
    width: 100%;   
}
.select-box4 {
    // justify-content: center;
}

// decor drop

.select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 18px;
}
.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}
.select-box1 {
    background: #ececec;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}
.open .label::after {
    content: "▲";
}
.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

.form-drop {
    display: none;
}



