.policyholder {
    background-color: #e6e6e6;
    width: 701px;
    padding: 28px 92px 43px;
    border-radius: 4px;
    margin-bottom: 30px;
    @media (max-width: 769px) {
        width: 100%;
        padding: 0;
        padding-top: 28px;
        padding-bottom: 35px;
        text-align: center;
    }

    &--cal {
        background-color: #fff;
        padding: 0;
        @media (max-width: 769px) {
            width: 100%;
        }
    }
    &-title {
        margin-bottom: 27px;
        font-size: 22px;
        color: #221F39;
    }
    &-subtitle {
        font-size: 16px;
    }
    &-block {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &-form {
        &__group {
            &.padding-0{
                padding-top: 0;
                    @media (max-width: 769px) {
                        padding-top: 0px !important;
                        width: 90%;
                        margin-left: 25px;;
                    }
                    @media (max-width: 568px) {
                        flex-direction: column;
                        margin: 0 auto;
                    }
                }
            display: flex;
            position: relative;
            justify-content: space-between;
            padding-top: 100px;
            padding-bottom: 30px;
            &--price {
                padding-bottom: 0 !important;
            }
        }
        &__text {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 769px) {
                margin-bottom: 50px;
            }
        }
        &__price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 22px;
            @media (max-width: 769px) {
                display: block;
                margin: 0 auto;
            }
            span {
                margin-left: 10px;
                font-size: 35px;
                font-weight: bold;
                @media (max-width: 769px) {
                    margin-left: 0;
                }
            }
        }
        &__btn {
            text-align: center;
            width: 203px;
            margin: 0;
            text-decoration: none;
            margin-left: 50px;
            @media (max-width: 769px) {
                margin-left: 0;
            }
        }
        &__block {
            display: flex;
            justify-content: space-between;
            width: 710px;
            @media (max-width: 769px) {
                display: flex;
                width: 100%;
            }
            @media (max-width: 568px) {
                flex-direction: column;
            }
        }
        &__check {
            padding: 15px 0;
            font-size: 18px;
            @media (max-width: 769px) {
                display: flex;
                align-items: center;
            }
            span {
                @media (max-width: 769px) {
                    margin-left: 7px;
                    max-width: 256px;
                }
            }
        }
        &__oferta {
            text-align: center;
            font-size: 12px;
            margin-top: 23px;
            @media (max-width: 769px) {
                font-size: 15px;
                margin-top: 25px;
            }
            span {
                color: #0ABE3D;
            }
        }
    }
    &-input {
        input {
            padding-left: 5px;
            padding-bottom: 5px;
            border: none;
            background-color: #e6e6e6;
            outline: none;
            border-bottom: 2px solid #000;
            transition: border .3s linear;
            &:focus {
                border-bottom: 2px solid #0ABE3D;
            }
            @media (max-width: 769px) {
                margin-top: 25px;
            }
        }
        &--long {
            input {
                outline: none;
                width: 518px;
                @media (max-width: 769px) {
                    width: 100%;
                }
            }
        }
        &__checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 27px;
            input {
                width: 20px;
                height: 20px;
                @media (max-width: 769px) {
                    width: 50px;
                }
            }
            p {
                margin-left: 10px;
                @media (max-width: 568px) {
                    margin: 0;
                }
                
            }
        }
    }
}